body {
    font-family: Arial, sans-serif;
    background-image: url('img/heroes.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#question-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10% auto;
    max-width: 500px;
}

#options {
    margin-top: 20px;
}

.option {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background-color: #0056b3;
}

#game-title {
    font-family: 'Supply Center', sans-serif;
    color: #0056b3;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}


